<div class="album text-muted">
  <div class="container">

    <div class="row">
      <div class="card">

        <%= render @products %>
        
          <% @products.each do |product| %>
           <%= product.image %>
          <% end %>
        <p class="card-text">
          <% @products.each do |product| %>
           <%= product.description %>
          <% end %>
        </p>
      </div>
    </div>
    
  </div> 
</div>


<%= paginate @products %>

<%= link_to 'New Product', new_product_path if logged_in?(:site_admin) %>
