<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<% @seo_keywords %>" >

    <%= stylesheet_link_tag    'products', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Start of Nav -->

    <%= render 'shared/product_nav' %>

    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
          </div>
          <div class="col-sm-4 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Follow on Twitter</a></li>
              <li><a href="#" class="text-white">Like on Facebook</a></li>
              <li><a href="#" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- End of Nav -->

    <!-- Start of Jumbotron -->
    <%= render 'shared/product_jumbotron' %>
    <!-- End of Jumbotron -->

    <!-- Start of album, container and row elements -->
    <div class="album text-muted">
      <div class="container">
          <%= login_helper %>

          <%= yield %>

          <!-- Start of footer -->
          <%= render 'shared/product_footer' %>
          <!-- End of footer -->

          <%= render "shared/nav", location: 'bottom' %>

          <%= source_helper("application") %>
        <div class="row">
        </div>
      </div>
    </div>
    <!-- End of album, container and row elements -->

    
  </body>
</html>
